<div class="prettyform">
  <div class="full-width-container editquestion eq-container-desktop">
    <div class="row">
      <div class="col-sm-7">
        <div class="box">
          <h2 class="title-no-margin center">Edit Question</h2>
          <br>
            <%= form_for @question, url: question_path(@question), method: :patch, html: { class: "edit_question", id: "edit_question_#{@question.id}" } do |f| %>
              <%= f.hidden_field :id %>
              <%= f.text_field :text, placeholder: 'Question',  class: 'form-control', autofocus: true %>
              <%= f.label :qset_id, 'Qset' %>
              <%= f.select :qset_id, @qsets %>
              <%= f.fields_for :answers do |a| %>
                <%= a.text_area :text, placeholder: 'Answer',  class: 'form-control' %>
                <%= a.hidden_field :id %>
                <%= a.hidden_field :question_id %>
              <% end %>
              <div class="center btn-div">
                <%= f.submit "Save question", class: 'btn btn-theme btn-lg submit-question' %>
                <%= link_to "Cancel", questions_path(qset_id: @current_qset_id), class: "btn btn-flat btn-lg" %>
              </div>
            <%end%>
        </div>
      </div>
      <div class="col-sm-5">
        <%= render "how_to_box" %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    initEditQuestion();
  });
</script>
