
<div class="container">
  <br>
  <h3 class="center"><b>Questions</b></h3><br>

 <% if @question_limitations != "true" %>
  <div id = "all-mine-filter" class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary active" id="mine-radio">
      <input type="radio" name="options"  autocomplete="off"> Mine
    </label>
    <label class="btn btn-primary" id="other-radio">
      <input type="radio" name="options" autocomplete="off" checked> Other
    </label>
  </div>
  <% end %>

  <% collapse_count = 1 %>

  <div class = "question_list">
  <% @questions.each do |question| %>    
      <% if question['user_id'] == current_user.id %>
    <div class = "panel-group my-question">
      <% else %>
    <div class = 'panel-group other-question hidden'>
      <% end %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <div class="row valign">
              <div class="col-sm-11">
                <!-- Toggles the modal. Data that is included: question answer, question text, and question ID -->
                <span style="cursor:default">
                  <a data-toggle="modal" 
                    data-target="#question_display_Modal" 
                    data-answer="<%=question["answers"][0]["text"]%>" 
                    data-qid="<%=question["id"]%>" 
                    data-question="<%= question["text"]%>"><%= question["text"]%>
                  </a> 
                </span>
              </div>
            </div> 

            <div class="col-sm-1">
                <!-- <a class="btn btn-theme btn-sm collapsed" style="margin-left:8px;cursor:pointer;" data-target=<%= "#collapse#{collapse_count}" %> data-toggle="collapse">
                  Reveal
                </a> -->
            </div>
          </h4>
        </div>
        <div id=<%= "collapse#{collapse_count}" %> class="panel-collapse collapse">
          <div class="panel-body">
            <% if question["answers"][0] %>
              <%= question["answers"][0]["text"] %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
      <% collapse_count += 1 %>
      <% end %>
    </div>
  <br>
  </div>

                <!-- Defines how the modal will look -->
<div class="modal fade" id="question_display_Modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- Close button -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- Displays the question at the top of the modal. Javascript finds the "modal-title" class and populates it with the question contents. -->
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <!-- Creates the text box for the user to input their answer. The submit button is only able to be clicked once the user has some content in the text box. -->
        <form accept-charset="UTF-8" 
          action="/questions/question["id"]/answers" 
          class="new_answer" 
          data-remote="true" 
          id="new_answer" 
          method="post">

          <div 
            style="display:none"><input 
            name="utf8" 
            type="hidden" 
            value="✓">
          </div>

          <textarea class="form-control" id="answer_text" name="answer[text]" placeholder="Type your answer here"></textarea>

          <div class="center btn-div">
            <input class="btn btn-theme btn-lg" 
              id="submit_answer" 
              name="commit" 
              type="submit" 
              value="Submit answer" 
              style="display">
          </div>

        </form>
        <!-- Displays the correct answer to the question once the user submits their answer -->
        <div id="answers" class="prettyform">
          <div class="container newanswer">
            <div class="box center" style="display: block;">
              <h3>Correct Answer</h3>
              <h5 class="first-answer"></h5>
            </div>
          </div>
        </div>

        <!-- Allows the user to note whether or not they got the question right. Creates two buttons, of which the user presses one (yes/no).-->
        <div id="response">
        <br>
          <h4 class="center"><b>Did you know the answer?</b></h4>
            <div class="row">
              <div class="col-xs-6 yes">
                <a id="respond-yes" class="btn-flat btn-success"><i class="fa fa-check"></i></a>
              </div>
              <div class="col-xs-6">
                <a id="respond-no" class="btn-flat btn-pink"><i class="fa fa-times"></i></a>
              </div>
            </div>
        </div>  
            <br>
            <!-- Alert box appears after the user answers whether or not they got the question right  -->
            <div id="alert_text_container" class="alert alert-success center" style>
              <div id="alert_text"> </div>
              &nbsp;
            <a class="close-alert grow"><i class="fa fa-times-circle"></i></a>
            </div>
        

        </div>
           

      </div>

    </div>
  </div>
</div>

