
<div class="container">
  <br>
  <h3 class="center"><b>Questions</b></h3><br>

 <% if @question_limitations != "true" %>
  <div id = "all-mine-filter" class="btn-group" data-toggle="buttons">
    <% if current_user %>
      <label class="btn btn-primary active" id="mine-radio">
        <input type="radio" name="options" autocomplete="off"> Mine
      </label>
    <% end %>
    <label class="btn btn-primary <% unless current_user %>active<% end %>" id="other-radio">
      <input type="radio" name="options" autocomplete="off" checked> Other
    </label>
  </div>
  <% end %>

  <% collapse_count = 1 %>

  <div class = "question_list">
  <% @questions.each do |question| %>    
      <% if current_user and question['user_id'] == current_user.id %>
    <div class = "panel-group my-question">
      <% else %>
    <div class = 'panel-group other-question <% if current_user %>hidden<% end %>'>
      <% end %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <div class="row valign">
              <div class="col-sm-11">
                <!-- Toggles the Question modal. Data that is included: question answer, question text, and question ID -->
                <span style="cursor:default">
                  <a data-toggle="modal" 
                    href="#"  
                    data-target="#question_display_Modal" 
                    data-answer="<%=question["answers"][0]["text"]%>" 
                    data-qid="<%=question["id"]%>" 
                    data-question="<%= question["text"]%>">
                      <%= question["text"]%>
                  </a> 
                <br/>
                  <!-- Toggles the Twitter modal. Data that is included: share-able url, question text, and hyperlink -->
                  <a data-toggle="modal" 
                    href="#"
                    data-target="#social_display_Modal"  
                    data-url= "<%= url_for(controller: 'questions', action: 'show', id:question["id"], host:request.base_url) %>"
                    data-website="Share on Twitter" 
                    data-hyperlink="https://www.twitter.com"
                    data-hyperlinktext= "Twitter"
                    data-question="<%= question["text"]%>">
                      <i class="fa fa-twitter-square"></i>
                  </a> 
                  <!-- Toggles the Facebook modal. Data that is included: share-able url, question text, and hyperlink -->
                   <a data-toggle="modal" 
                    href="#"
                    data-target="#social_display_Modal"  
                    data-url= "<%= url_for(controller: 'questions', action: 'show', id:question["id"], host:request.base_url) %>"
                    data-website="Share on Facebook" 
                    data-hyperlink="https://www.facebook.com"
                    data-hyperlinktext="Facebook"
                    data-question="<%= question["text"]%>">
                      <i class="fa fa-facebook-square"></i>
                  </a>
                  <div class="pull-right">
                      <!-- Creates the edit and delete options for each question -->
                      <% if current_user and question['user_id'] == current_user.id or current_user.role == 'admin' %>

                        <%= link_to edit_question_path(question), class:'btn shortcut-button-link' do%>
                          <span class="glyphicon glyphicon-edit shortcut-button-glyphicon"></span>
                        <% end %>

                        <%= link_to question_path(question), method: :delete, class:'btn shortcut-button-link' do%>
                          <span class="glyphicon glyphicon-trash shortcut-button-glyphicon"></span>
                        <% end %>

                      <% end %>
                  </div>
                </span>
              </div>
            </div> 

          </h4>
        </div>
        <div id=<%= "collapse#{collapse_count}" %> class="panel-collapse collapse">
          <div class="panel-body">
            <% if question["answers"][0] %>
              <%= question["answers"][0]["text"] %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
      <% collapse_count += 1 %>
      <% end %>
    </div>
  <br>
  </div>

                <!-- Defines how the Question modal will look -->
<div class="modal fade" id="question_display_Modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- Close button -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- Displays the question at the top of the modal. Javascript finds the "modal-title" class and populates it with the question contents. -->
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <!-- Creates the text box for the user to input their answer. The submit button is only able to be clicked once the user has some content in the text box. -->
        <form accept-charset="UTF-8" 
          action="/questions/question["id"]/answers" 
          class="new_answer" 
          data-remote="true" 
          id="new_answer" 
          method="post">

          <div 
            style="display:none"><input 
            name="utf8" 
            type="hidden" 
            value="✓">
          </div>

          <textarea class="form-control" id="answer_text" name="answer[text]" placeholder="Type your answer here"></textarea>

          <div class="center btn-div">
            <input class="btn btn-theme btn-lg" 
              id="submit_answer" 
              name="commit" 
              type="submit" 
              value="Submit answer" 
              style="display">
          </div>

        </form>
        <!-- Displays the correct answer to the question once the user submits their answer -->
        <div id="answers" class="prettyform">
          <div class="container">
            <div class="box center" style="display: block;">
              <h3>Answer:</h3>
              <h5 class="first-answer"></h5>
            </div>
          </div>
        </div>

        <!-- Allows the user to note whether or not they got the question right. Creates two buttons, of which the user presses one (yes/no).-->
        <div id="response">
        <br>
          <h4 class="center"><b>Did you know the answer?</b></h4>
            <div class="row">
              <div class="col-xs-6 yes">
                <a id="respond-yes" class="btn-flat btn-success"><i class="fa fa-check"></i></a>
              </div>
              <div class="col-xs-6">
                <a id="respond-no" class="btn-flat btn-pink"><i class="fa fa-times"></i></a>
              </div>
            </div>
        </div>  
            <br>
            <!-- Alert box appears after the user answers whether or not they got the question right  -->
            <div id="alert_text_container" class="alert center" style>
              <div id="alert_text"> </div>
              &nbsp;
            <a class="close-alert grow"><i class="fa fa-times-circle"></i></a>
            </div>
        

        </div>
           

      </div>

    </div>
  </div>

    <!-- Defines how the Social modal will look -->
  <div class="modal fade" id="social_display_Modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Sets the style of the modal header  -->
        <div class="modal-header-social">
          <!-- Close button -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <!-- Displays the question at the top of the modal. Javascript finds the "modal-title" class and populates it with the question contents. -->
          <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body-social">
            <!-- Creates the form for the question + url text that the user will copy to clipboard -->
            <form role="form">
              <div class="form-group">
                <label for="question"> Step 1: Copy the question and the link to the answer to your clipboard </label>
                <input type="text" class="form-control" id="question">
              </div>
            <!-- Creates the form for the hyperlink to the social media platform -->
              <div class ="form-group">
                <label for="question"> Step 2: Follow the link to the social media platform and share what's saved on your clipboard </label>
              <br/>
              <a class="hyperlink" target="_blank"></a>
          </div>
        </div>
    </div>
  </div>



</div>

