<div class="prettyform">
  <div class="full-width-container newquestion">
    <div class="row">
      <div class="col-sm-7">
        <div class="box">
          <h2 class="title-no-margin center">New Question</h2>
          <br>
            <%= form_for(@question) do |f| %>
              <%= f.text_field :text, placeholder: 'Question',  class: 'form-control', autofocus: true %>
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                Choose Qset
              </button>
              <span class="qset-display"></span>
              <!-- hidden input field to pass in qset_id into params on submit -->
              <input type="text" name="question[qset_id]" class="qset-id-input">
              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Choose Qset</h4>
                    </div>
                    <div class="modal-body">
                      <!-- displays qsets in hierarchical order -->
                      <div class="list-group">
                        <% @qsets.walk_tree do |qset, level| %>
                          <% if level > 0 %>
                            <% level_viz = '&nbsp;&nbsp;&nbsp;&nbsp;' * (level - 1) %>
                            <% if qset.settings(:permissions).qset_type == 'subsets' %>
                              <a href="#" class="list-group-item disabled">
                                <%= level_viz.html_safe %>
                                <span class="glyphicon glyphicon-folder-close"></span>
                                <p class="qset-name-modal inline-p">
                                  <%= '&nbsp;&nbsp;'.html_safe %>
                                  <%= qset.name %>
                                </p>
                              </a>
                            <% else %>
                              <a href="#" class="list-group-item qset-selectable">
                                <%= level_viz.html_safe %>
                                <span class="glyphicon glyphicon-list-alt"></span>
                                <p class="qset-name-modal inline-p">
                                  <%= '&nbsp;&nbsp;'.html_safe %>
                                  <%= qset.name %>
                                </p>
                                <p class="qset-id-modal">
                                  <%= qset.id %>
                                </p>
                              </a>
                            <% end %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Select</button>
                    </div>
                  </div>
                </div>
              </div>
              <%= f.fields_for :answers do |a| %>
                <%= a.text_area :text, placeholder: 'Answer',  class: 'form-control' %>
              <% end %>
              <div class="center btn-div">
                <%= f.submit "Submit question", class: 'btn btn-theme btn-lg submit-question' %>
              </div>
            <%end%>
        </div>
      </div>
      <div class="col-sm-5">
        <%= render "how_to_box" %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    initEditQuestion();
  });
</script>
