<div class="prettyform">
  <div class="full-width-container newquestion">
    <div class="row">
      <div class="col-sm-7">
        <div class="box">
          <h2 class="title-no-margin center">New Question</h2>
          <br>
            <%= form_for @question do |f| %>
              <div class="form-group">
                <%= f.text_field :text, placeholder: 'Question', class: 'form-control', autofocus: true %>
              </div>
              <div class="form-group">
                <%= f.label :qset_id, 'Qset', {class: 'control-label'} %>
                <%= f.collection_select(:qset_id, Qset.find(current_user.org).descendants, :id, :name, {}, {class: 'form-control'}) %>
              </div>
              <%= f.fields_for :answers do |a| %>
                <div class="form-group">
                  <%= a.text_area :text, placeholder: 'Answer',  class: 'form-control' %>
                </div>
              <% end %>
              <div class="form-group">
                <div class="center btn-div">
                  <%= f.submit "Submit question", class: 'btn btn-theme btn-lg submit-question' %>
                </div>
              </div>
            <%end%>
        </div>
      </div>
      <div class="col-sm-5">
        <%= render "how_to_box" %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    initEditQuestion();
  });
</script>
