<div class="prettyform">
  <div class="full-width-container newquestion">
    <div class="row">
      <div class="col-sm-7">
        <div class="box">
          <h2 class="title-no-margin center">New Question</h2>
          <br>
            <%= form_for(@question) do |f| %>
              <div class="form-group">
                <%= f.text_field :text, placeholder: 'Question',  class: 'form-control', autofocus: true %>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary btn-theme btn-generate-q" data-toggle="modal" data-target="#modal-launch">
                  Choose Qset
                </button>
                <% if @question.qset_id %>
                  <span class="qset-display">
                    <%= @qset_name %>
                  </span>
                  <input type="text" name="question[qset_id]" id="qset-id-input" class="hidden" value="<%= @question.qset_id %>">
                <% else %>
                  <span class="qset-display no-qset-chosen">No question set chosen</span>
                  <input type="text" name="question[qset_id]" id="qset-id-input" class="hidden">
                <% end %>
              </div>
              <!-- Start select qset modal -->
              <%= render(:partial => "new_modal", :locals => {:qset => current_user.org }) %>
              <!-- End select qset modal -->
              <%= f.fields_for :answers do |a| %>
                <div class="form-group">
                  <%= a.text_area :text, placeholder: 'Answer',  class: 'form-control' %>
                </div>
              <% end %>
              <div class="form-group">
                <div class="center btn-div">
                  <%= f.submit "Submit question", class: 'btn btn-theme btn-lg submit-question' %>
                </div>
              </div>
            <%end%>
        </div>
      </div>
      <div class="col-sm-5">
        <%= render "how_to_box" %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    initEditQuestion();
  });
</script>
