<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="box center dash-profile">
        <%= image_tag ("person.png") %>
        <br><br>
        <h3><%= @user.full_name %></h3>
        <h4><%= @user.email %>
        <br><br><br>
        <div class="total-points col-centered" data-toggle="tooltip"
             data-placement="bottom" data-trigger="click focus hover"
             title="User score reflects questions authored and votes received on questions">
          <!--<h2 class="vcenter"><%= @user.karma %></h2>-->
        </div>
        <br><br>
        <p><%= @user.questions.group(:qset_id).length %> question sets</p>
        <p><%= pluralize(@user.questions.count, 'question') %></p>
      </div>
    </div>
    <div class="col-sm-9">
      <h3>Profile</h3>
      <%= form_for @user do |f| %>
        <div class="form-group">
          <%= f.label :org_id, 'Organization' %>
          <%# Note that `can? :manage, User` isn't exclusive enough, as users should be able to :manage their own records %>
          <% if current_user.role? :admin %>
            <%= f.collection_select(:org_id, Qset.where(parent_id: nil).order(:name), :id, :name) %>
          <% else %>
            <%= @user.org.name %>
          <% end %>
        </div>
        <% if current_user.role? :admin %>
          <%= f.submit 'Save', id: 'user-save', class: 'btn btn-theme', data: {disable_with: 'Saving...'} %>
        <% end %>
      <% end %>

      <h3>
        <% if current_user == @user %>
          Your recent questions
        <% else %>
          <%= @user.full_name %>'s recent questions
        <% end %>
      </h3>

      <% if @user.questions.count < 1 %>
  <% if current_user == @user %>
    <div class="box">
    <h4 class="center">
    You haven't generated any questions yet!
    </h4>
    <div class="center">
    <%= link_to "Create one now", new_question_path, class: "btn btn-theme btn-lg" %>
    </div>
    </div>
        <% else %>
          <%= @user.first_name %> has generated any questions yet.
        <% end %>
      <% elsif @questions.length < 1 %>
        <%# viewing another user's page, user has questions, but no questions are visible %>
        All of <%= @user.first_name %>'s questions are private.
      <% else %>
        <%# todo: %>
        <%= render 'qsets/question_list' %>
      <% end %>

    </div>
  </div>
</div>

<%= render "qsets/modal_question" %>

<script>
  $(document).ready(function(){
    initUser();
  });
</script>
