<div class="prettyform">
<div class="container" id="signin">
<div class="box maxwidth-box">
  <h2 class="fixed-title center">Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="center">
      <%= f.label :password, "New password" %><br />
      <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
    </div>

    <div class="center">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

      <div class="center user-link">
      <%= f.submit "Change my password", class: 'btn btn-theme' %>
    </div>
  <% end %>

  <div class="center">
    <%= render "devise/shared/links" %>
  </div>

</div>
</div>
</div>
