<div class="prettyform">
  <div class="container" id="new-password">
    <div class="box maxwidth-box">
      <h2 class="fixed-title center">Forgot your password?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="center">
          <span style="margin-right: 10px;">
          <%= f.label :email %>
            </span>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="center user-link">
          <%= f.submit "Reset password", class: 'btn btn-theme' %>
        </div>

      <% end %>

      <div class="center">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>