<!-- *****************************************************************************************************************
   HEADERWRAP
   ***************************************************************************************************************** -->
<!-- Header -->
<section class="jumbotron span-12 one-edge-shadow">
  <div class="container">
    <div class="row">
      <h1>Ask<span>Up</span></h1>
      <h3>Learn better, together.</h3>
    </div><br><br>
    <div class="row">
      <div class="col-sm-4  center">
        <div class="row"><%= link_to "Generate Question", new_question_path, class: "btn btn-theme btn-lg" %></div>
        
      </div>
      <div class="col-sm-8  center"></div>
      
    </div><div class="spacer6"></div><div class="spacer6"></div><div class="spacer6"></div><div class="spacer3"></div>
    <div class="row center"><%= link_to icon('angle-double-down'), '#home-scroll-down', id: 'home-scroll-down' %></div>
  </div>
</section>

  <!-- *****************************************************************************************************************
   SERVICE LOGOS
   ***************************************************************************************************************** -->
   <div id="intro">
    <div class="container">
      <div class="row center">
        <div class="col-md-4">
          <%= icon('pencil') %>
          <h3>Generate Questions</h3>
          <p>AskUp is an educational tool to help you make sense and remember material you learn in class, at home, or in the hospital. Generating questions based on this material requires you to recall information, identify the main points, reflect on how it relates to things you’ve previously learned, and generate your own answer—powerful techniques for learning!</p>
          <!--<p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
        </div>
        <div class="col-md-4">
          <%= icon('list-alt') %>
          <h3>Test your Knowledge</h3>
          <p>To remember new material you need to be tested on it--simply re-reading a text or lecture notes do not make you learn or understand the material, it only creates a false sense of familiarity. Testing, which requires you to recall the information, actually helps to enhance the connections in your brain to remember the material best. </p>
          <!-- <p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
        </div>
        <div class="col-md-4">
          <%= icon('university') %>
          <h3>Study the Right Way</h3>
          <p>Effective learning requires recall, reflection, generation, and testing—techniques that you will practice while using AskUp. Studies have also shown that spacing your learning over time, as opposed to cramming, is more effective for long-term retention.  Mixing up your studies, by tackling different material at the same time, is (harder) but more effective than studying one subject first, then moving to the next one.  Integrate these ideas to make the best of AskUp!</p>
          <!-- <p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
        </div>            
      </div>
    </div><!--/container -->
   </div><!--/service -->

    <!-- *****************************************************************************************************************
   TESTIMONIALS
   ***************************************************************************************************************** -->
   <div id="twrap">
    <div class="container center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        <%= icon('comment-o') %>
        <p>"AskUp uses evidence-based principles to improve your learning. It will allow you to generate questions and answers based on new material (class lectures, reading assignments, videos, patient encounters in the hospital). Generating these questions will require you to recall the information, identify the main points, reflect on how it relates to things you’ve previously learned, and generate your own answer—-powerful techniques for learning! When your classmates participate, you will be able to see and answer the questions they created, further enhancing your learning."</p>
        <h4><br/>Jonathan S. Hausmann, MD</h4>
        <p>HARVARD MEDICAL SCHOOL</p>
        </div>
      </div><!--/row -->
    </div><!--/container -->
   </div><!--/twrap -->

   <!-- *****************************************************************************************************************
   FOOTER
   ***************************************************************************************************************** -->
   <div id="footerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>About</h4>
          <div class="hline-w"></div>
          <p>AskUp is a joint venture between investigators at Beth Israel Deaconess Medical Center (BIDMC) and engineers in the Teaching and Learning Technologies (TLT) program at Harvard University. </p>
        </div>
        <div class="col-lg-4">
          <h4>Find out More</h4>
          <div class="hline-w"></div>
          <p> To learn more about the educational strategies used in this app, including question-generation, spaced repetition, and testing, check out the book <a href="http://www.amazon.com/Make-It-Stick-Successful-Learning/dp/0674729013" target="_blank"><i>Make it Stick</i> by Peter C. Brown. &nbsp; <%= icon('share-square-o') %></a></p>
        </div>
        <div class="col-lg-4">
          <h4>Contact Us</h4>
          <div class="hline-w"></div>
          <p>
            125 Mt. Auburn Street<br>
            Room 524<br>
            Cambridge, MA 02138<br>
            <a href="mailto:help@askup.us">help@askup.us</a><br>
            <a href="https://twitter.com/GoAskUp" class="twitter-follow-button" data-show-count="false">Follow @GoAskUp</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </p>
          <p>&copy; 2015 Harvard TLT</p>
        </div>
      
      </div><!--/row -->
    </div><!--/container -->
   </div><!--/footerwrap -->
