<div>
  <h5>Subsets of <%= @qset.name %>
  </h5>
</div>
<% if can? :create, Qset %>
  <div>
    <a class="btn btn-primary btn-sm"
       id="new-qset"
       data-toggle="modal"
       data-target="#modal-new-qset">
      New subset
    </a>
  </div>
<% end %>
<div class="qset-list">
  <% if @qsets.length == 0 %>
    <div class="box valign row">
      <p>There are no subsets. <a href="#" data-toggle="modal" data-target="#modal-new-qset">Create one now!</a></p>
    </div>
  <% else %>
    <% @qsets.each_with_index do |qset, index| %>
      <div class="box qset">
        <%= link_to(qset) do %>
          <%= qset.name %>
        <% end %>
        <span class="pull-right badge">
          <%= @subset_question_counts[qset.id] %>
          <%= 'question'.pluralize(@subset_question_counts[qset.id]) %>
        </span>
      </div>
    <% end %>
  <% end %>
</div> <!-- .qset-list -->

