
<div class="container">
  <br>
  <h3 class="center"><b>Questions</b></h3><br>

  <div class="row">
    <div class="col-sm-8">
      <%= render "qset_context" %>
    </div>

    <div class="col-sm-4 right">
      <%= render "all_mine_other_filter" %>
    </div>
  </div>

  <div class="row question_list">
    <% @questions.each_with_index do |question, index| %>
      <% if current_user and question['user_id'] == current_user.id %>
        <div class="panel-group my-question hidden">
      <% else %>
        <div class="panel-group other-question hidden">
      <% end %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <div class="row valign">
              <div class="col-sm-1">
                <div class="net-votes"><p id="question-<%= question.id %>-net-votes"><%= question.plusminus %></p><br></div>
              </div>
              <div class="col-sm-1">
                <div class="question-voting">
                  <a class="upvote-button" data-vote="upvote" data-vote-qid="<%= question.id %>">Up</a><br>
                  <a class="downvote-button" data-vote="downvote" data-vote-qid="<%= question.id %>">Down</a>
                </div>
              </div>
              <div class="col-sm-6">
                <!-- Toggles the Question modal. Data that is included: question answer, question text, and question ID -->
                <div style="cursor:default" class="question-content">
                  <%= link_to question_path(question) do%>
                  <%= question.text %>
                  <% end %>
                  <br/>
                  <div class="pull-right">
                      <!-- Creates the edit and delete options for each question -->
                      <% if can? :manage, question %>

                        <%= link_to edit_question_path(question), class:'btn shortcut-button-link' do%>
                          <span class="glyphicon glyphicon-edit shortcut-button-glyphicon"></span>
                        <% end %>

                        <%= link_to question_path(question), method: :delete, class:'btn shortcut-button-link' do%>
                          <span class="glyphicon glyphicon-trash shortcut-button-glyphicon"></span>
                        <% end %>

                      <% end %>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <a href=""><%= question.user.full_name %></a>
              </div>
              <div class="col-sm-2">
                  <a data-toggle="modal"
                    href="#"
                    data-target="#question_display_Modal"
                    data-answer="<%= question.answers[0].text %>"
                    data-qid="<%= question.id %>"
                    data-question="<%= question.text %>"
                    class="btn btn-primary">
                      Quiz Me
                  </a>
              </div>
            </div>
          </h4>
        </div>
      </div> <!-- .panel panel-default -->
      </div> <!-- .panel-group -->
    <% end %>
  </div> <!-- .question-list -->
  <br>
</div> <!-- .container -->

<%= render "modal_question" %>
<%= render "modal_social" %>
<% if can? :manage, Qset %>
  <%= render "modal_edit_qset" %>
  <%= render "modal_new_qset" %>
<% end %>

<script>
  $(document).ready(function(){
    initQsets();
    initQuestionFilter();
    initVote();
  });
</script>
