
<div class="container">
  <br>
  <h3 class="center"><b>Questions</b></h3><br>

  <div class="row">
    <div class="col-sm-8">
      <%= render "qset_context" %>
    </div>

    <div class="col-sm-4 right">
      <%= render "all_mine_other_filter" %>
    </div>
  </div>

  <div class="row question_list">
    <%= render "question_list_filter" %>
  </div>

<!--   <div class="row question_list">
    <%#= render "no_question_alert" %>
  </div>
   -->
  
  <!-- everything now in question_list_filter was originally here -->

<%= render "modal_question" %>
<%= render "modal_social" %>

<% if can? :manage, Qset %>
  <%= render "modal_edit_qset" %>
  <%= render "modal_new_qset" %>
<% end %>


<script>
  $(document).ready(function(){
    initQsets();
    initQuestionFilter();
  });
</script>
