<div class="container-fluid" id="qset-show-container" data-qset-id="<%= @qset.id %>">
  <div class="show-large-screen">
    <%= render "question_page_header_large_screen" %>
  </div>
  <div class="show-small-screen">
    <%= render "question_page_header_small_screen" %>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <%= render "qset_list_compressed" %>
    </div>
    <div class="col-sm-9">
      <%= render "question_list" %>
    </div>
  </div>
</div>

<%= render "modal_question" %>
<%= render "modal_social" %>
<% if can? :manage, Qset %>
  <%= render "modal_edit_qset" %>
  <%= render "modal_new_qset" %>
<% end %>

<script>
  $(document).ready(function(){
    initQsets();
    initQuestionFilter();
    initVote();
  });
</script>
