<div class="container">
  <br>
  <h3 class="center">
      <%= render "qset_context" %>
  </h3>

  <%= render "qset_list" %>

  <br>
  <h3 class="center"><b>Questions</b></h3><br>
  <div class="question-cell">
    <div class="center"><%= link_to "Generate Question", new_question_path, class: "btn btn-theme btn-lg" %></div>
  </div>
  </br>
  <div class="col-sm-12 right">
      <%= render "all_mine_other_filter" %>
  </div>
 
  <br>
  <div class="row question_list">
      <%= render "question_list" %>
  </div> <!-- .question-list -->
  <br>
</div>

<%= render "modal_question" %>
<%= render "modal_social" %>
<% if can? :manage, Qset %>
  <%= render "modal_edit_qset" %>
  <%= render "modal_new_qset" %>
<% end %>

<script>
  $(document).ready(function(){
    initQsets();
    initQuestionFilter();
    initVote();
  });
</script>
